<html>
<body>

<h1>calculator</h1>
<body>
    <center>
        <div id="calculator-container">
            <h1><i>webpage for calculator</i></h1>
            <form action="/result" method="post">
                <label for="num1">Enter first number:</label>
                <input type="number"id="num1" nmae="num1"><br><br>
                <label for="num2">Enter second number</label>
                <input type="number"id="num2" name="num2"><br><br><br><br>
                <b><u>select your operation</u></b><br><br><br>
                <input type="radio"value="addition" name="operation">addition<br>
                <input type="radio"value="subtraction"name="operation">subtraction<br>
                <input type="radio" value="multiplication"name="operation">multiplication<br>
                <input type=
            </form>
        </div>
    </center>
</body>

</body>
</html>